<% if (ready) {%>export interface <%= prefix %><%= classify(name) %>s {
	data: <%= prefix %><%= classify(name) %>Data[],
	meta: any
}

export interface <%= prefix %><%= classify(name) %> {
	data: <%= prefix %><%= classify(name) %>Data
}

export interface <%= prefix %><%= classify(name) %>Data {
	id?: string,
	type?: '<%= dasherize(name) %>',
	attributes: {
	}
}<% }%>
<% if (!ready) {%>export interface <%= prefix %><%= classify(name) %> {
}<% }%>
