import { CommonModule } from '@angular/common';
import { NgModule } from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';
import { FormsModule, ReactiveFormsModule } from '@angular/forms';

@NgModule({
	declarations: [],
	imports: [CommonModule, BrowserModule, RouterModule, FormsModule, ReactiveFormsModule],
	exports: [BrowserModule, RouterModule, FormsModule, ReactiveFormsModule],
})
export class SharedLayer {}
