FROM node:14-alpine as buildContainer
WORKDIR /app
COPY ./package.json /app/
RUN npm install -g @rilke/cli
RUN npm install
COPY ./ /app
RUN npm run <%= configuration %>:build:ssr

FROM node:14-alpine

WORKDIR /app
# Copy dependency definitions
COPY --from=buildContainer /app/package.json /app

# Get all the code needed to run the app
COPY --from=buildContainer /app/dist /app/dist

# Expose the port the app runs in
EXPOSE 4000

# Serve the app
CMD ["npm", "run", "serve:ssr"]