import { CommonModule } from '@angular/common';
import { HttpClientModule } from '@angular/common/http';
import { NgModule, Optional, SkipSelf } from '@angular/core';

@NgModule({
	declarations: [],
	imports: [CommonModule, HttpClientModule],
	exports: [],
})
export class CoreLayer {
	constructor(@Optional() @SkipSelf() presentInParent: CoreLayer) {
		if (presentInParent) {
			throw new Error(
				'CoreLayer is already installed. Can only be loaded by AppModule'
			);
		}
	}
}
