{
	"extends": "stylelint-config-standard-scss",
	"rules": {
		"indentation": "tab",
		"no-missing-end-of-source-newline": null,
		"string-quotes": null,
		"color-function-notation": null,
		"scss/dollar-variable-empty-line-before": null,
		"no-descending-specificity": null,
		"number-leading-zero": null,
		"selector-pseudo-element-no-unknown": null,
		"color-hex-case": "upper",
		"no-empty-source": null
	}
}