import { NgModule } from '@angular/core';
import { RouterModule } from '@angular/router';<% if (sharedLayer) { %>
import { SharedLayer } from '@shared/shared.layer';<% } %>

@NgModule({
	imports: [
		RouterModule<% if (sharedLayer) { %>,
		SharedLayer<% } %>
	],
	declarations: []
})
export class <%= classify(name) %>Layout { }
