import { Injectable } from '@angular/core';

@Injectable({
	providedIn: 'root',
})
export class LocationService {
	getPosition(): Promise<any> {
		return new Promise((resolve, reject) => {
			navigator.geolocation.getCurrentPosition(
				resp => {
					resolve([resp.coords.latitude, resp.coords.longitude]);
				},
				err => {
					reject(err);
				}
			);
		});
	}
}
