import { NgModule } from '@angular/core';
import { <%= classify(name) %>RoutingModule } from './<%= dasherize(name) %>-routing.module';<% if (sharedLayer) { %>
import { SharedLayer } from '@shared/shared.layer';<% } %>

@NgModule({
	imports: [
		<%= classify(name) %>RoutingModule<% if (sharedLayer) { %>,
		SharedLayer<% } %>
	],
	declarations: []
})
export class <%= classify(name) %>Feature {}
