import { <%= classify(name) %><%= classify(type) %> } from './<%= dasherize(name) %><%= type %>';

describe('<%= classify(name) %><%= classify(type) %>', () => {
	it('should create an instance', () => {
		expect(new <%= classify(name) %><%= classify(type) %>()).toBeTruthy();
	});
});
